.flex-container {
    flex-wrap:wrap;
    border-radius:1em;
    background-color: #2F3E46;
    
}
h1 {
    color: whitesmoke;
    
}
body {
    background-color: #CAD2C5;

}
nav {
    background-color:#52796F;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}

h2 {
background-color: #52796F;
color: whitesmoke;


}
img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 40%;
}
.section {
    background-color: #2F3E46;
    color:whitesmoke;

}
.section-two {
    background-color: #2F3E46;
    color:whitesmoke;

}
.section-three {
    background-color: #2F3E46;
    color:whitesmoke;

}
.section-four {
    background-color: #2F3E46;
    color:whitesmoke;

}
